@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gothic Medium';
  src: url('https://fonts.cdnfonts.com/css/gothic-medium') format('woff2');
}

body {
  background-color: #000000;
  font-family: 'Gothic Medium', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.hero-gradient {
  background: #000000;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}